@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --color-fill: 251, 254, 251;
  --color-text-base: 40, 39, 40;
  --color-accent: 0, 108, 172;
  --color-card: 230, 230, 230;
  --color-card-muted: 205, 205, 205;
  --color-border: 236, 233, 233;
}

html[data-theme="dark"] {
  --color-fill: 47, 55, 65;
  --color-text-base: 230, 230, 230;
  --color-accent: 26, 217, 217;
  --color-card: 63, 75, 90;
  --color-card-muted: 89, 107, 129;
  --color-border: 59, 70, 85;
}

@theme inline {
  --font-mono: "Noto Sans JP", sans-serif;
  --color-skin-fill: rgb(var(--color-fill));
  --color-skin-text-base: rgb(var(--color-text-base));
  --color-skin-accent: rgb(var(--color-accent));
  --color-skin-card: rgb(var(--color-card));
  --color-skin-card-muted: rgb(var(--color-card-muted));
  --color-skin-line: rgb(var(--color-border));
}

@layer base {
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  * {
    @apply border-skin-line outline-skin-accent;
    scrollbar-width: auto;
    scrollbar-color: rgb(var(--color-card)) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-skin-fill font-mono text-skin-text-base
    selection:bg-skin-accent/70 selection:text-skin-fill;
  }
  section,
  footer {
    @apply mx-auto max-w-4xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-text-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent
    sm:scale-110;
  }

  /* ===== scrollbar ===== */
  ::-webkit-scrollbar {
    @apply w-3;
  }
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@utility display-none {
  @apply hidden;
}

@utility focus-outline {
  @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
}

:target {
  scroll-margin-block: 1rem;
}
