---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${name}`}
    class={`${size === "sm" ? "pr-1 text-sm" : "pr-2 text-lg"} group`}
  >
    <span>{name}</span>
  </a>
</li>

<style>
  a {
    @apply underline decoration-dashed hover:text-skin-accent relative hover:-top-0.5 focus-visible:p-1;
  }
  a svg {
    @apply w-6 h-6 text-skin-base scale-95 opacity-80 -mr-5 group-hover:fill-skin-accent;
  }
</style>
